@model List<Doctor>

<form method="post" class="form-group" style="margin:0 auto">
        <select class="form-control" name="especialidad">
            @foreach (string esp in ViewBag.Especialidades)
            {
                <option class="form-control">@esp</option>
            }
        </select>
        <br />
        <input class="form-control" type="number" name="incremento" />
        <br />
        <button type="submit" class="btn btn-primary">Incrementar</button>
</form>
<hr />
<table class="table text-center table-bordered" style="margin:0 auto">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Salario</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Doctor d in Model)
            {
                <tr>
                    <td>@d.Apellido</td>
                    <td>@d.Especialidad</td>
                    <td>@d.Salario</td>
                </tr>
            }
    </tbody>
</table>