<h1>Mails Net Core</h1>

<form method="post" enctype="multipart/form-data">
    <label>Receptor:</label>
    <input type="text" name="destinatario" class="form-control" />
    <br />

    <label>Asunto: </label>
    <input type="text" name="asunto" class="form-control" />
    <br />

    <label>Mensaje: </label>
    <textarea name="mensaje" class="form-control"></textarea>
    <br />

    <input type="file" name="fichero" class="form-control" />
    <br />
    <button type="submit" name="accion" value="empezar" class="btn btn-outline-dark">Comenzar</button>
    <br />
    <button type="submit" name="accion" value="detener" class="btn btn-outline-dark">Parar</button>
</form>



<h1 class="text-primary">@ViewData["PRUEBA"]</h1>