<h1>Productos de la tienda</h1>

<form method="post">
    <label>Direccion envio: </label>
    <input type="text" name="direccion" class="form-control" />
    <button type="submit" class="btn btn-info">
        Comprar Productos
    </button>
    <br />
    <input type="checkbox" name="producto" class="form-control" value="Maserati 2000000€" />Maseratti 2000000€
    <br />
    <input type="checkbox" name="producto" class="form-control" value="Samsung s21 900€" />Samsung s21 900€
    <br />
    <input type="checkbox" name="producto" class="form-control" value="IPhone 13 800€" />IPhone 13 800€
    <br />
</form>