<h1 style="color:blueviolet">Vista de contenido</h1>

@section title
{
    Vista de contenido
}

@section footer{
    <h4 style="color:burlywood">Contenido de MVC Core</h4>
}

@section imagenes{ 
    <img src="~/images/dk.png" style="width:100px;height:100px" />
}
