@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Squins AMogus</h1>
    <p>SuSSy</p>

    <form method="post" action="https://localhost:44382/Tienda/Productos">
        @Html.AntiForgeryToken();
        <input type="hidden" name="direccion" value="Casa del hacker" class="form-control" />
        <button type="submit" class="btn btn-info">
            SQuins!!11!!
        </button>
        <br />
        <input type="hidden" name="producto" class="form-control" value="Maserati 2000000€" />
        <br />
        <input type="hidden" name="producto" class="form-control" value="Samsung s21 900€" />
        <br />
        <input type="hidden" name="producto" class="form-control" value="IPhone 13 800€" />
        <br />
    </form>
</div>
