<h1 class="text-primary">
    Perfil del Doctor
</h1>

<h2 style="color:red">
    Apellido: @Context.User.Identity.Name
</h2>
<h2>
    Especialidad:@Context.User.FindFirst(ClaimTypes.Role).Value
</h2>
<h2 style="color:green">
    Salario:@Context.User.FindFirst("Salario").Value
</h2>
