<h1>Añadir nuevo hospital</h1>

<form method="post">
    <label>Codigo del hospital</label>
    <input type="text" class="form-control" name="cod"/>
    <br />

    <label>Nombre</label>
    <input type="text" class="form-control" name="nom"/>
    <br />

    <label>Direccion</label>
    <input type="text" class="form-control" name="dir"/>
    <br />

    <label>Telefono</label>
    <input type="text" class="form-control" name="tel"/>
    <br />

    <label>Numero de camas</label>
    <input type="text" class="form-control" name="num"/>
    <br />

    <button class="btn btn-info" type="submit">Añadir hospital</button>
</form>