<h1 style="color:blueviolet">Menu matematicas</h1>
<ul class="list-group">
    <li class="list-group-item">
        class="nav-link text-dark" asp-area="" asp-controller="Matematicas" asp-action="Index"
    </li>
</ul>
