<h1 style="color:blueviolet">Sumar Numeros</h1>

<form method="post">
    <label>Numero 1: </label>
    <input type="number" name="num1" class="form-control" />
    <br />
    <label>Numero 2: </label>
    <input type="number" name="num2" class="form-control" />
    <br />
    <button type="submit" class="btn btn-info">Enviar informacion</button>
</form>
<h2 style="color:blueviolet">Total: @ViewBag.Total</h2>
