@model Empleado


<h1>Details Linq</h1>
<a asp-controller="Empleados" asp-action="TodosEmpleados">Volver al listado</a>

<h1>Apellido: @Model.Apellido</h1>
<h1>Oficio: @Model.Oficio</h1>
<h1>Salario: @Model.Salario</h1>
<h1>Dèpartamento: @Model.IdDepartamento</h1>