@model Departamento

<h1 style="color:blueviolet">Detalles</h1>

<a class="btn btn-info" asp-controller="Departamentos"
   asp-action="Index">Volver al listado</a> 
<h2>Numero: @Model.IdDepartamento, Nombre: @Model.Nombre, Localidad: @Model.Localidad </h2>