<h1 class="text-center">Menu</h1>

    <table class="table table-dark text-center" style="margin:0 auto">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Categoria</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>