@model Empleado
<h1>Edit Empleado SP</h1>

<form method="post">
    <input type="hidden" name="idempleado" value="@Model.IdEmpleado"/>
    <label>Incremento salarial: </label>
    <input type="text" name="incremento" class="form-control" required />
    <button type="submit" class="btn btn-info">
        Modificar salario
    </button>
</form>
<hr />
<h1 class="text-primary">Apellido: @Model.Apellido, Oficio: @Model.Oficio</h1>
<h1 class="text-danger">Salario: @Model.Salario</h1>