<!doctype html>
<html>
    <head>
        <title>Plantilla principal empty</title>
    </head>
    <body>
        <h1>Plantilla principal proyecto empty</h1>
        <hr />
        <div style="background-color:lightgreen">
            Zona de vistas
        </div>
        <hr />


    </body>
</html>
