@model List<Empleado>

<h1>Sesion Empleados</h1>
<a asp-controller="Empleados"
   asp-action="EmpleadosAlmacenados">
    Empleados Almacenados
</a>
<h2>@ViewData["MENSAJE"]</h2>



    <ul class="list-group">
        @foreach (Empleado emp in Model)
        {
            <li class="list-group-item">
                @emp.Apellido
                <a asp-controller="Empleados"
                   asp-action="SessionEmpleados"
                   asp-route-idempleado="@emp.IdEmpleado">
                    Datos
                </a>
            </li>
        }
    </ul>
