<h1>Log In</h1>

<form method="post">
    <label>Usuario: </label>
    <input type="text" name="apellido" class="form-control" />
    <button type="submit" class="btn btn-info">Log In</button>
    <h1>@ViewData["FALLO"]</h1>
</form>