@if (Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item">
        <a class="nav-link"
           asp-controller="Doctores"
           asp-action="PerfilDoctor">
            Log In
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link"
           asp-controller="Manage"
           asp-action="LogOut">
            Log Out
            <span class="text-danger">@Context.User.Identity.Name</span>
        </a>
    </li>
}