@model Enfermo


<h1>Desea borrar al enfermo?</h1>

<form asp-action="Delete">
    <input type="hidden" value="@Model.Inscripcion"/>
    <button class="btn btn-success" type="submit" name="accion">Sis</button>
    <a asp-action="ListaEnfermos" class="btn btn-danger">Non</a>
</form>
